.about-us-container {
    width: 800px;
    max-width: 90%;
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* background-color: red; */
    text-align: justify;
  }
  
  .about-us-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  .about-us-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about-us-content {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }